In [1]:
import numpy as np
import pandas as pd
data = pd.read_excel('C:/Users/awast/abc.xlsx')
#print(data.head())
#Check missing value
print(data.isnull().sum())

EmpNumber                       0
Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

In [2]:
#Get value counts of gender
data.Gender.value_counts()

Gender
Male      724
Female    475
Name: count, dtype: int64

In [3]:
#Map the gender
data.Gender = data.Gender.map({'Male':1,'Female':0})

In [4]:
#Get value counts of educational background
data.EducationBackground.value_counts()

EducationBackground
Life Sciences       492
Medical             384
Marketing           136
Technical Degree    100
Other                66
Human Resources      21
Name: count, dtype: int64

In [5]:
#Use frequency maping
data.loc[data['EducationBackground']=='Life Sciences','EducationBackground']=5
data.loc[data['EducationBackground']=='Medical','EducationBackground']=4
data.loc[data['EducationBackground']=='Marketing','EducationBackground']=3
data.loc[data['EducationBackground']=='Technical Degree','EducationBackground']=2
data.loc[data['EducationBackground']=='Other','EducationBackground']=1
data.loc[data['EducationBackground']=='Human Resources','EducationBackground']=0

In [6]:
#Checking conversion happen or not
data.EducationBackground.value_counts()

EducationBackground
5    492
4    384
3    136
2    100
1     66
0     21
Name: count, dtype: int64

In [7]:
#Get the value counts of marital status
data.MaritalStatus.value_counts()

MaritalStatus
Married     548
Single      383
Divorced    268
Name: count, dtype: int64

In [8]:
#Use mannual maping
data.MaritalStatus = data.MaritalStatus.map({'Married':2,'Single':1,'Divorced':0})

In [9]:
#Check conversion happen or not
data.MaritalStatus.value_counts()

MaritalStatus
2    548
1    383
0    268
Name: count, dtype: int64

In [10]:
#Get the value counts of employee department 
data.EmpDepartment.value_counts()

EmpDepartment
Sales                     372
Development               361
Research & Development    343
Human Resources            54
Finance                    49
Data Science               20
Name: count, dtype: int64

In [11]:
#Use Frequency maping
data.loc[data['EmpDepartment']=='Sales','EmpDepartment']=5
data.loc[data['EmpDepartment']=='Development','EmpDepartment']=4
data.loc[data['EmpDepartment']=='Research & Development','EmpDepartment']=3
data.loc[data['EmpDepartment']=='Human Resources','EmpDepartment']=2
data.loc[data['EmpDepartment']=='Finance','EmpDepartment']=1
data.loc[data['EmpDepartment']=='Data Science','EmpDepartment']=0

In [12]:
#Check conversion happen or not
data.EmpDepartment.value_counts()

EmpDepartment
5    372
4    361
3    343
2     54
1     49
0     20
Name: count, dtype: int64

In [13]:
#Getting the value counts of EmpJobRole
data.EmpJobRole.value_counts()

EmpJobRole
Sales Executive              269
Developer                    236
Manager R&D                   94
Research Scientist            77
Sales Representative          69
Laboratory Technician         64
Senior Developer              52
Manager                       51
Finance Manager               49
Human Resources               45
Technical Lead                38
Manufacturing Director        33
Healthcare Representative     33
Data Scientist                20
Research Director             19
Business Analyst              16
Senior Manager R&D            15
Delivery Manager              12
Technical Architect            7
Name: count, dtype: int64

In [14]:
#Use frequency maping 
data.loc[data['EmpJobRole']=='Sales Executive','EmpJobRole']=18
data.loc[data['EmpJobRole']=='Developer','EmpJobRole']=17
data.loc[data['EmpJobRole']=='Manager R&D','EmpJobRole']=16
data.loc[data['EmpJobRole']=='Research Scientist','EmpJobRole']=15
data.loc[data['EmpJobRole']=='Sales Representative','EmpJobRole']=14
data.loc[data['EmpJobRole']=='Laboratory Technician','EmpJobRole']=13
data.loc[data['EmpJobRole']=='Senior Developer','EmpJobRole']=12
data.loc[data['EmpJobRole']=='Manager','EmpJobRole']=11
data.loc[data['EmpJobRole']=='Finance Manager','EmpJobRole']=10
data.loc[data['EmpJobRole']=='Human Resources','EmpJobRole']=9
data.loc[data['EmpJobRole']=='Technical Lead','EmpJobRole']=8
data.loc[data['EmpJobRole']=='Manufacturing Director','EmpJobRole']=7
data.loc[data['EmpJobRole']=='Healthcare Representative','EmpJobRole']=6
data.loc[data['EmpJobRole']=='Data Scientist','EmpJobRole']=5
data.loc[data['EmpJobRole']=='Research Director','EmpJobRole']=4
data.loc[data['EmpJobRole']=='Business Analyst','EmpJobRole']=3
data.loc[data['EmpJobRole']=='Senior Manager R&D','EmpJobRole']=2
data.loc[data['EmpJobRole']=='Delivery Manager','EmpJobRole']=1
data.loc[data['EmpJobRole']=='Technical Architect','EmpJobRole']=0

In [15]:
#Check conversion happen or not
data.EmpJobRole.value_counts()

EmpJobRole
18    269
17    236
16     94
15     77
14     69
13     64
12     52
11     51
10     49
9      45
8      38
7      33
6      33
5      20
4      19
3      16
2      15
1      12
0       7
Name: count, dtype: int64

In [16]:
#Get the value count of buisness travel frequency
data.BusinessTravelFrequency.value_counts()

BusinessTravelFrequency
Travel_Rarely        845
Travel_Frequently    222
Non-Travel           132
Name: count, dtype: int64

In [17]:
#Use mannual maping
data.BusinessTravelFrequency = data.BusinessTravelFrequency.map({'Travel_Rarely':2,'Travel_Frequently':1,'Non-Travel':0})

In [18]:
#Check conversion happen or not
data.BusinessTravelFrequency.value_counts()

BusinessTravelFrequency
2    845
1    222
0    132
Name: count, dtype: int64

In [19]:
#Get the value count of Overtime
data.OverTime.value_counts()

OverTime
No     846
Yes    353
Name: count, dtype: int64

In [20]:
#Use mannual maping
data.OverTime = data.OverTime.map({'No':1,'Yes':0})

In [21]:
#Check conversion happen or not
data.OverTime.value_counts()

OverTime
1    846
0    353
Name: count, dtype: int64

In [23]:
#Get the value counts of Attrition
data.Attrition.value_counts()

Attrition
No     1021
Yes     178
Name: count, dtype: int64

In [24]:
#Use Mannual maping
data.Attrition = data.Attrition.map({'No':1,'Yes':0})

In [25]:
#Check conversion happen or not
data.Attrition.value_counts()

Attrition
1    1021
0     178
Name: count, dtype: int64

In [26]:
# Check all data features 
data.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,1,3,1,5,18,2,10,3,...,4,10,2,2,10,7,0,8,1,3
1,E1001006,47,1,3,1,5,18,2,14,4,...,4,20,2,3,7,7,1,7,1,3
2,E1001007,40,1,5,2,5,18,1,5,4,...,3,20,2,3,18,13,1,12,1,4
3,E1001009,41,1,0,0,2,11,2,10,4,...,2,23,2,2,21,6,12,6,1,3
4,E1001011,27,1,5,0,4,17,1,10,2,...,3,9,4,2,9,7,1,7,1,4